body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-image: url('assets/time-glass.jpg');
}

.projTitle {
    text-align: center;
    color: white;
    font-size: 1.15rem;
}

.stopwatchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: auto;
  height: fit-content;
  border: 0.45rem solid #d89841;
  border-radius: 20%;
  padding: 2rem;
  background-color: white;
}

.operations {
    margin-top: 0.5rem;
}

.startBtn, .pauseBtn, .resetBtn {
    color: white;
    border-radius: 40%;
    padding: 0.25rem;
}

.startBtn {
    background-color: green;
}

.pauseBtn {
    background-color: blue;
}

.resetBtn {
    background-color: red;
}

.lapContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.lapBtn {
    display: flex;
    width: fit-content;
    background-color: pink;
    border-radius: 40%;
    padding: 0.25rem;
}

.lapDisplay {
    display: none;
    margin-top: 1rem;
}

footer {
    background-color: #d89841;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1.5rem;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .stopwatchContainer {
        padding: 3.5rem;
    }
}
