body {
    font-family: Arial, sans-serif;
    background-color: #fff9f9;
    margin: 0;
}

header {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px 0;
    text-align: center;
    font-size: 1.75rem;
}

header .waving_hand {
    width: 45px;
     height: 45px;
}

.content {
    display: none;
    text-align: center;
    color: rgb(150, 75, 0);
    font-size: 1.0rem;
}

main {
    margin: 40px auto;
    max-width: 750px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1.0);
    background-color: white;
    padding: 145px 0;
}

.button-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0056b3;
    text-align: center;
    font-weight: bold;
    font-size: 1.0rem;
}

.button-container button {
    background-color: #0056b3;
    border: 3px solid #0056b3;
    color: #ffffff;
    padding: 25px 35px;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
} 

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

